# 第九章 循环

## 9.1 期望值

In [1]:
die <- c(1,2,3,4,5,6)

## 9.2 expand.grid

In [2]:
rolls<- expand.grid(die, die)

rolls

   Var1 Var2
1  1    1
2  2    1
3  3    1
4  4    1
5  5    1
6  6    1
7  1    2
8  2    2
9  3    2
10 4    2
11 5    2
12 6    2
13 1    3
14 2    3
15 3    3
16 4    3
17 5    3
18 6    3
19 1    4
20 2    4
21 3    4
22 4    4
23 5    4
24 6    4
25 1    5
26 2    5
27 3    5
28 4    5
29 5    5
30 6    5
31 1    6
32 2    6
33 3    6
34 4    6
35 5    6
36 6    6

In [3]:
names(rolls)

[1] "Var1" "Var2"

In [5]:
rolls$value <- rolls$Var1 + rolls$Var2

rolls

   Var1 Var2 value
1  1    1     2
2  2    1     3
3  3    1     4
4  4    1     5
5  5    1     6
6  6    1     7
7  1    2     3
8  2    2     4
9  3    2     5
10 4    2     6
11 5    2     7
12 6    2     8
13 1    3     4
14 2    3     5
15 3    3     6
16 4    3     7
17 5    3     8
18 6    3     9
19 1    4     5
20 2    4     6
21 3    4     7
22 4    4     8
23 5    4     9
24 6    4    10
25 1    5     6
26 2    5     7
27 3    5     8
28 4    5     9
29 5    5    10
30 6    5    11
31 1    6     7
32 2    6     8
33 3    6     9
34 4    6    10
35 5    6    11
36 6    6    12

## 9.3 for 循环

In [6]:
for (value in c("my","first","for","loop")){
    print("one run")
}

[1] "one run"
[1] "one run"
[1] "one run"
[1] "one run"

In [7]:
for (value in c("my","first","for","loop")){
    print(value)
}

[1] "my"
[1] "first"
[1] "for"
[1] "loop"

In [8]:
# 创建一个长度为 4 的 空向量

chars <- vector(length=4)

chars

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] FALSE FALSE FALSE FALSE

In [9]:
words <- c("my", "first","for", "loop")

for (i in c(1:4)){
    chars[i]= words[i]
}

chars

[1] "my"    "first" "for"   "loop"

## 9.4 while 循环

In [10]:
cash = 10 

while(cash>0){
    cash<- cash-1 
    print(cash)
}

[1] 9
[1] 8
[1] 7
[1] 6
[1] 5
[1] 4
[1] 3
[1] 2
[1] 1
[1] 0