# 第五章 对象改值

In [1]:
deck <- data.frame(
      face = c("king", "queen", "jack", "ten", "nine", "eight", "seven", "six",
        "five", "four", "three", "two", "ace", "king", "queen", "jack", "ten",
        "nine", "eight", "seven", "six", "five", "four", "three", "two", "ace",
        "king", "queen", "jack", "ten", "nine", "eight", "seven", "six", "five",
        "four", "three", "two", "ace", "king", "queen", "jack", "ten", "nine",
        "eight", "seven", "six", "five", "four", "three", "two", "ace"),
      suit = c("spades", "spades", "spades", "spades", "spades", "spades",
        "spades", "spades", "spades", "spades", "spades", "spades", "spades",
        "clubs", "clubs", "clubs", "clubs", "clubs", "clubs", "clubs", "clubs",
        "clubs", "clubs", "clubs", "clubs", "clubs", "diamonds", "diamonds",
        "diamonds", "diamonds", "diamonds", "diamonds", "diamonds", "diamonds",
        "diamonds", "diamonds", "diamonds", "diamonds", "diamonds", "hearts",
        "hearts", "hearts", "hearts", "hearts", "hearts", "hearts", "hearts",
        "hearts", "hearts", "hearts", "hearts", "hearts"),
value = c(13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 13, 12, 11, 10, 9, 8,  7, 6, 5, 4, 3, 2, 1, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 13, 12, 11,  10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
)

deck

   face  suit     value
1  king  spades   13
2  queen spades   12
3  jack  spades   11
4  ten   spades   10
5  nine  spades    9
6  eight spades    8
7  seven spades    7
8  six   spades    6
9  five  spades    5
10 four  spades    4
11 three spades    3
12 two   spades    2
13 ace   spades    1
14 king  clubs    13
15 queen clubs    12
16 jack  clubs    11
17 ten   clubs    10
18 nine  clubs     9
19 eight clubs     8
20 seven clubs     7
21 six   clubs     6
22 five  clubs     5
23 four  clubs     4
24 three clubs     3
25 two   clubs     2
26 ace   clubs     1
27 king  diamonds 13
28 queen diamonds 12
29 jack  diamonds 11
30 ten   diamonds 10
31 nine  diamonds  9
32 eight diamonds  8
33 seven diamonds  7
34 six   diamonds  6
35 five  diamonds  5
36 four  diamonds  4
37 three diamonds  3
38 two   diamonds  2
39 ace   diamonds  1
40 king  hearts   13
41 queen hearts   12
42 jack  hearts   11
43 ten   hearts   10
44 nine  hearts    9
45 eight hearts    8
46 seven hearts    7
47 six   hearts    6
48 five  hearts    5
49 four  hearts    4
50 three hearts    3
51 two   hearts    2
52 ace   hearts    1

## 5.1 就地改值

In [2]:
vec <- c(0,0,0,0,0,0)

vec

[1] 0 0 0 0 0 0

In [4]:
vec[1]<-1000

vec

[1] 1000    0    0    0    0    0

In [5]:
vec[c(1,3,5)]<- c(1,1,1)

vec

[1] 1 0 1 0 1 0

In [6]:
vec[4:6]<- vec[4:6]+1 

vec

[1] 1 0 1 1 2 1

In [7]:
length(vec)

[1] 6

In [8]:
vec[7]<-100

vec

length(vec)

[1]   1   0   1   1   2   1 100

[1] 7

In [9]:
deck$new <-1:52

deck

   face  suit     value new
1  king  spades   13     1
2  queen spades   12     2
3  jack  spades   11     3
4  ten   spades   10     4
5  nine  spades    9     5
6  eight spades    8     6
7  seven spades    7     7
8  six   spades    6     8
9  five  spades    5     9
10 four  spades    4    10
11 three spades    3    11
12 two   spades    2    12
13 ace   spades    1    13
14 king  clubs    13    14
15 queen clubs    12    15
16 jack  clubs    11    16
17 ten   clubs    10    17
18 nine  clubs     9    18
19 eight clubs     8    19
20 seven clubs     7    20
21 six   clubs     6    21
22 five  clubs     5    22
23 four  clubs     4    23
24 three clubs     3    24
25 two   clubs     2    25
26 ace   clubs     1    26
27 king  diamonds 13    27
28 queen diamonds 12    28
29 jack  diamonds 11    29
30 ten   diamonds 10    30
31 nine  diamonds  9    31
32 eight diamonds  8    32
33 seven diamonds  7    33
34 six   diamonds  6    34
35 five  diamonds  5    35
36 four  diamonds  4    36
37 three diamonds  3    37
38 two   diamonds  2    38
39 ace   diamonds  1    39
40 king  hearts   13    40
41 queen hearts   12    41
42 jack  hearts   11    42
43 ten   hearts   10    43
44 nine  hearts    9    44
45 eight hearts    8    45
46 seven hearts    7    46
47 six   hearts    6    47
48 five  hearts    5    48
49 four  hearts    4    49
50 three hearts    3    50
51 two   hearts    2    51
52 ace   hearts    1    52

In [10]:
# 将某个变量从数据框中删除 

deck

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

   face  suit     value new
1  king  spades   13     1
2  queen spades   12     2
3  jack  spades   11     3
4  ten   spades   10     4
5  nine  spades    9     5
6  eight spades    8     6
7  seven spades    7     7
8  six   spades    6     8
9  five  spades    5     9
10 four  spades    4    10
11 three spades    3    11
12 two   spades    2    12
13 ace   spades    1    13
14 king  clubs    13    14
15 queen clubs    12    15
16 jack  clubs    11    16
17 ten   clubs    10    17
18 nine  clubs     9    18
19 eight clubs     8    19
20 seven clubs     7    20
21 six   clubs     6    21
22 five  clubs     5    22
23 four  clubs     4    23
24 three clubs     3    24
25 two   clubs     2    25
26 ace   clubs     1    26
27 king  diamonds 13    27
28 queen diamonds 12    28
29 jack  diamonds 11    29
30 ten   diamonds 10    30
31 nine  diamonds  9    31
32 eight diamonds  8    32
33 seven diamonds  7    33
34 six   diamonds  6    34
35 five  diamonds  5    35
36 four  diamonds  4    36
37 three diamonds  3    37
38 two   diamonds  2    38
39 ace   diamonds  1    39
40 king  hearts   13    40
41 queen hearts   12    41
42 jack  hearts   11    42
43 ten   hearts   10    43
44 nine  hearts    9    44
45 eight hearts    8    45
46 seven hearts    7    46
47 six   hearts    6    47
48 five  hearts    5    48
49 four  hearts    4    49
50 three hearts    3    50
51 two   hearts    2    51
52 ace   hearts    1    52

In [13]:
deck$new <- NULL

head(deck)

  face  suit   value
1 king  spades 13
2 queen spades 12
3 jack  spades 11
4 ten   spades 10
5 nine  spades  9
6 eight spades  8

In [14]:
# 等价方式

deck[c(13,26,39, 52), 3]

deck$value[c(13,26,39, 52)]

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] 1 1 1 1

[1] 1 1 1 1

In [16]:
deck$value[c(13,26,39, 52)]<-c(14,14,14,14)

deck$value[c(13,26,39, 52)]<-14

## 5.2 逻辑值取子集

In [19]:
vec

[1]   1   0   1   1   2   1 100

In [20]:
vec[c(FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,FALSE)]

[1] 2

### 5.2.1 逻辑测试

In [21]:
1>2

[1] FALSE

In [22]:
1> c(0,1,2)

[1]  TRUE FALSE FALSE

In [23]:
c(1,2,3) == c(3,2,1)

[1] FALSE  TRUE FALSE

### %in% 是唯一不进行 一一对比的运算符    %in% 的作用是测试左边的值是否出现在右边

In [24]:
1 %in% c(3,4,5)

[1] FALSE

In [25]:
c(1,2) %in% c(3,4,5)

[1] FALSE FALSE

In [27]:
c(1,2,3) %in% c(3,4,5,6)

[1] FALSE FALSE  TRUE

In [28]:
c(1,2,3,4) %in% c(3,4,5)

[1] FALSE FALSE  TRUE  TRUE

In [30]:
head(deck)

  face  suit   value
1 king  spades 13
2 queen spades 12
3 jack  spades 11
4 ten   spades 10
5 nine  spades  9
6 eight spades  8

In [31]:
names(deck)

[1] "face"  "suit"  "value"

In [32]:
deck$face =='ace'

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13]  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[25] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[37] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[49] FALSE FALSE FALSE  TRUE

In [33]:
sum(deck$face=='ace')

[1] 4

In [34]:
deck$value[deck$face=='ace']

[1] 14 14 14 14

In [35]:
deck2<- deck 

deck2$value<-0 

head(deck2)

  face  suit   value
1 king  spades 0
2 queen spades 0
3 jack  spades 0
4 ten   spades 0
5 nine  spades 0
6 eight spades 0

In [36]:
deck$value[deck$suit=="hearts"]

 [1] 13 12 11 10  9  8  7  6  5  4  3  2 14

In [39]:
deck$value[deck$suit=="hearts"]<- 100

deck

   face  suit     value
1  king  spades    13
2  queen spades    12
3  jack  spades    11
4  ten   spades    10
5  nine  spades     9
6  eight spades     8
7  seven spades     7
8  six   spades     6
9  five  spades     5
10 four  spades     4
11 three spades     3
12 two   spades     2
13 ace   spades    14
14 king  clubs     13
15 queen clubs     12
16 jack  clubs     11
17 ten   clubs     10
18 nine  clubs      9
19 eight clubs      8
20 seven clubs      7
21 six   clubs      6
22 five  clubs      5
23 four  clubs      4
24 three clubs      3
25 two   clubs      2
26 ace   clubs     14
27 king  diamonds  13
28 queen diamonds  12
29 jack  diamonds  11
30 ten   diamonds  10
31 nine  diamonds   9
32 eight diamonds   8
33 seven diamonds   7
34 six   diamonds   6
35 five  diamonds   5
36 four  diamonds   4
37 three diamonds   3
38 two   diamonds   2
39 ace   diamonds  14
40 king  hearts   100
41 queen hearts   100
42 jack  hearts   100
43 ten   hearts   100
44 nine  hearts   100
45 eight hearts   100
46 seven hearts   100
47 six   hearts   100
48 five  hearts   100
49 four  hearts   100
50 three hearts   100
51 two   hearts   100
52 ace   hearts   100

In [40]:
deck[deck$face=="queen",]

   face  suit     value
2  queen spades    12
15 queen clubs     12
28 queen diamonds  12
41 queen hearts   100

### 5.2.2 布尔运算符

In [41]:
a<- c(1,2,3)
b<- c(1,2,3)
c<- c(1,2,4)

a==b

[1] TRUE TRUE TRUE

In [42]:
b==c

[1]  TRUE  TRUE FALSE

In [43]:
a==b & b==c

[1]  TRUE  TRUE FALSE

In [44]:
deck$face=="queen" & deck$suit == "spades"

 [1] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[25] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[37] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[49] FALSE FALSE FALSE FALSE

In [46]:
queenOfSpades <- deck$face=="queen" & deck$suit == "spades"

queenOfSpades

 [1] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[25] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[37] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[49] FALSE FALSE FALSE FALSE

In [47]:
deck[queenOfSpades,]

  face  suit   value
2 queen spades 12

## 5.3 缺失信息

In [48]:
1+NA

[1] NA

In [49]:
NA==1

[1] NA

### 5.3.1 na.rm

In [50]:
c(NA, 1:50)

 [1] NA  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
[26] 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
[51] 50

In [51]:
mean(c(NA, 1:50))

[1] NA

In [52]:
mean(c(NA, 1:50), na.rm = TRUE)

[1] 25.5

### 5.3.2 is.na

In [53]:
NA== NA

[1] NA

In [54]:
c(1,2,3,4,NA)==NA

[1] NA NA NA NA NA

In [55]:
is.na(NA)

[1] TRUE

In [56]:
vec<- c(1,2,3,NA)

is.na(vec)

[1] FALSE FALSE FALSE  TRUE

In [57]:
deck <- data.frame(
      face = c("king", "queen", "jack", "ten", "nine", "eight", "seven", "six",
        "five", "four", "three", "two", "ace", "king", "queen", "jack", "ten",
        "nine", "eight", "seven", "six", "five", "four", "three", "two", "ace",
        "king", "queen", "jack", "ten", "nine", "eight", "seven", "six", "five",
        "four", "three", "two", "ace", "king", "queen", "jack", "ten", "nine",
        "eight", "seven", "six", "five", "four", "three", "two", "ace"),
      suit = c("spades", "spades", "spades", "spades", "spades", "spades",
        "spades", "spades", "spades", "spades", "spades", "spades", "spades",
        "clubs", "clubs", "clubs", "clubs", "clubs", "clubs", "clubs", "clubs",
        "clubs", "clubs", "clubs", "clubs", "clubs", "diamonds", "diamonds",
        "diamonds", "diamonds", "diamonds", "diamonds", "diamonds", "diamonds",
        "diamonds", "diamonds", "diamonds", "diamonds", "diamonds", "hearts",
        "hearts", "hearts", "hearts", "hearts", "hearts", "hearts", "hearts",
        "hearts", "hearts", "hearts", "hearts", "hearts"),
value = c(13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 13, 12, 11, 10, 9, 8,  7, 6, 5, 4, 3, 2, 1, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 13, 12, 11,  10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
)

deck

   face  suit     value
1  king  spades   13
2  queen spades   12
3  jack  spades   11
4  ten   spades   10
5  nine  spades    9
6  eight spades    8
7  seven spades    7
8  six   spades    6
9  five  spades    5
10 four  spades    4
11 three spades    3
12 two   spades    2
13 ace   spades    1
14 king  clubs    13
15 queen clubs    12
16 jack  clubs    11
17 ten   clubs    10
18 nine  clubs     9
19 eight clubs     8
20 seven clubs     7
21 six   clubs     6
22 five  clubs     5
23 four  clubs     4
24 three clubs     3
25 two   clubs     2
26 ace   clubs     1
27 king  diamonds 13
28 queen diamonds 12
29 jack  diamonds 11
30 ten   diamonds 10
31 nine  diamonds  9
32 eight diamonds  8
33 seven diamonds  7
34 six   diamonds  6
35 five  diamonds  5
36 four  diamonds  4
37 three diamonds  3
38 two   diamonds  2
39 ace   diamonds  1
40 king  hearts   13
41 queen hearts   12
42 jack  hearts   11
43 ten   hearts   10
44 nine  hearts    9
45 eight hearts    8
46 seven hearts    7
47 six   hearts    6
48 five  hearts    5
49 four  hearts    4
50 three hearts    3
51 two   hearts    2
52 ace   hearts    1

In [58]:
deck$value[deck$face=='ace']<- NA

In [59]:
head(deck, 13)

   face  suit   value
1  king  spades 13
2  queen spades 12
3  jack  spades 11
4  ten   spades 10
5  nine  spades  9
6  eight spades  8
7  seven spades  7
8  six   spades  6
9  five  spades  5
10 four  spades  4
11 three spades  3
12 two   spades  2
13 ace   spades NA