# 第一章 R 基础

## 1.1 R 的用户界面

In [2]:
100：130

 [1] 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118
[20] 119 120 121 122 123 124 125 126 127 128 129 130

In [3]:
3%5

ERROR: Error in parse(text = x, srcfile = src): <text>:1:2: unexpected input
1: 3%5
     ^

In [4]:
30/3

[1] 10

In [5]:
1：6

[1] 1 2 3 4 5 6

## 1.2 对象

In [7]:
a<- 1 
a

[1] 1

In [8]:
a+2

[1] 3

In [9]:
die<- 1:6 

die

[1] 1 2 3 4 5 6

In [10]:
# R 区分 大小写 

Name<-1 
name <- 0 

Name+1

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] 2

In [11]:
# 查看已经命名了哪些 R 对象

ls()

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] "a"    "die"  "name" "Name"

In [12]:
die -1

[1] 0 1 2 3 4 5

In [13]:
die /2

[1] 0.5 1.0 1.5 2.0 2.5 3.0

In [14]:
die * die

[1]  1  4  9 16 25 36

## R 使用元素方式执行 
## 当 对一个数字集 执行操作时， R 会将相同的运算应用于该数字集中的每一个元素

In [15]:
1：2

[1] 1 2

In [16]:
1：4

[1] 1 2 3 4

In [18]:
die + 1:2

[1] 2 4 4 6 6 8

In [19]:
die

[1] 1 2 3 4 5 6

In [20]:
die + 1:4

Warning message in die + 1:4:
"longer object length is not a multiple of shorter object length"

[1] 2 4 6 8 6 8

In [ ]:
### %*% 执行内乘法  %o% 执行外乘法

In [21]:
die %*% die

     [,1]
[1,] 91

In [22]:
die %o% die

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 1     2    3    4    5    6
[2,] 2     4    6    8   10   12
[3,] 3     6    9   12   15   18
[4,] 4     8   12   16   20   24
[5,] 5    10   15   20   25   30
[6,] 6    12   18   24   30   36

## 1.3 函数

In [23]:
round(3.1415)

[1] 3

In [24]:
factorial(3)

[1] 6

In [25]:
mean(1:6)

[1] 3.5

In [26]:
mean(die)

[1] 3.5

In [27]:
round(mean(die))

[1] 4

In [28]:
sample(x=1:4, size=2)

[1] 3 1

In [29]:
sample(x=die, size =1)

[1] 2

In [30]:
sample(x=die, size =1)

[1] 5

In [31]:
sample(x=die, size =1)

[1] 4

In [32]:
sample(die, 1)

[1] 3

In [33]:
# 如何使用一个函数不能识别的参数名 会报错

round(3.1415, ccorners=2)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

ERROR: Error in round(3.1415, ccorners = 2): unused argument (ccorners = 2)

In [34]:
# 查看函数的所有参数名
args(round)

function (x, digits = 0)
NULL

In [35]:
round(3.1415, digits = 2)

[1] 3.14

In [36]:
sample(die,1)

[1] 6

In [37]:
sample(size=1, x=die)

[1] 4

## 1.4 可放回抽样

In [46]:
sample(die, size=2, replace= TRUE)

[1] 3 3

In [47]:
dice <- sample(die, size=2, replace=TRUE)

dice

[1] 1 5

In [48]:
class(dice)

[1] "integer"

In [50]:
sum(dice)

[1] 6

## 1.5 编写自定义函数

In [51]:
die <- 1:6

dice <- sample(die, size=2, replace=TRUE)

sum(dice)

[1] 3

In [52]:
roll <-function(){
    die <- 1:6 
    dice <- sample(die, size=2, replace=TRUE)
    sum(dice)
}

roll()

[1] 8

## 1.6 参数

In [53]:
roll2 <- function(){
    dice <- sample(bones, size=2, replace=TRUE)
    sum(dice)
}

roll2()

ERROR: Error in sample(bones, size = 2, replace = TRUE): object 'bones' not found

In [55]:
roll2 <- function(bones){
    dice <- sample(bones, size=2, replace=TRUE)
    sum(dice)
}

roll2(1:4)

[1] 6

In [56]:
roll2(1:6)

[1] 7