# 第四章 R 的记号体系

## 4.1 值的选取

In [1]:
vec<- c(1,2,3,4,5,6)

vec[1:3]

[1] 1 2 3

In [2]:
deck <- data.frame(
      face = c("king", "queen", "jack", "ten", "nine", "eight", "seven", "six",
        "five", "four", "three", "two", "ace", "king", "queen", "jack", "ten",
        "nine", "eight", "seven", "six", "five", "four", "three", "two", "ace",
        "king", "queen", "jack", "ten", "nine", "eight", "seven", "six", "five",
        "four", "three", "two", "ace", "king", "queen", "jack", "ten", "nine",
        "eight", "seven", "six", "five", "four", "three", "two", "ace"),
      suit = c("spades", "spades", "spades", "spades", "spades", "spades",
        "spades", "spades", "spades", "spades", "spades", "spades", "spades",
        "clubs", "clubs", "clubs", "clubs", "clubs", "clubs", "clubs", "clubs",
        "clubs", "clubs", "clubs", "clubs", "clubs", "diamonds", "diamonds",
        "diamonds", "diamonds", "diamonds", "diamonds", "diamonds", "diamonds",
        "diamonds", "diamonds", "diamonds", "diamonds", "diamonds", "hearts",
        "hearts", "hearts", "hearts", "hearts", "hearts", "hearts", "hearts",
        "hearts", "hearts", "hearts", "hearts", "hearts"),
value = c(13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 13, 12, 11, 10, 9, 8,  7, 6, 5, 4, 3, 2, 1, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 13, 12, 11,  10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
)

deck

   face  suit     value
1  king  spades   13
2  queen spades   12
3  jack  spades   11
4  ten   spades   10
5  nine  spades    9
6  eight spades    8
7  seven spades    7
8  six   spades    6
9  five  spades    5
10 four  spades    4
11 three spades    3
12 two   spades    2
13 ace   spades    1
14 king  clubs    13
15 queen clubs    12
16 jack  clubs    11
17 ten   clubs    10
18 nine  clubs     9
19 eight clubs     8
20 seven clubs     7
21 six   clubs     6
22 five  clubs     5
23 four  clubs     4
24 three clubs     3
25 two   clubs     2
26 ace   clubs     1
27 king  diamonds 13
28 queen diamonds 12
29 jack  diamonds 11
30 ten   diamonds 10
31 nine  diamonds  9
32 eight diamonds  8
33 seven diamonds  7
34 six   diamonds  6
35 five  diamonds  5
36 four  diamonds  4
37 three diamonds  3
38 two   diamonds  2
39 ace   diamonds  1
40 king  hearts   13
41 queen hearts   12
42 jack  hearts   11
43 ten   hearts   10
44 nine  hearts    9
45 eight hearts    8
46 seven hearts    7
47 six   hearts    6
48 five  hearts    5
49 four  hearts    4
50 three hearts    3
51 two   hearts    2
52 ace   hearts    1

In [4]:
deck[,]

   face  suit     value
1  king  spades   13
2  queen spades   12
3  jack  spades   11
4  ten   spades   10
5  nine  spades    9
6  eight spades    8
7  seven spades    7
8  six   spades    6
9  five  spades    5
10 four  spades    4
11 three spades    3
12 two   spades    2
13 ace   spades    1
14 king  clubs    13
15 queen clubs    12
16 jack  clubs    11
17 ten   clubs    10
18 nine  clubs     9
19 eight clubs     8
20 seven clubs     7
21 six   clubs     6
22 five  clubs     5
23 four  clubs     4
24 three clubs     3
25 two   clubs     2
26 ace   clubs     1
27 king  diamonds 13
28 queen diamonds 12
29 jack  diamonds 11
30 ten   diamonds 10
31 nine  diamonds  9
32 eight diamonds  8
33 seven diamonds  7
34 six   diamonds  6
35 five  diamonds  5
36 four  diamonds  4
37 three diamonds  3
38 two   diamonds  2
39 ace   diamonds  1
40 king  hearts   13
41 queen hearts   12
42 jack  hearts   11
43 ten   hearts   10
44 nine  hearts    9
45 eight hearts    8
46 seven hearts    7
47 six   hearts    6
48 five  hearts    5
49 four  hearts    4
50 three hearts    3
51 two   hearts    2
52 ace   hearts    1

## 4.1.1 正整数索引

In [5]:
head(deck)

  face  suit   value
1 king  spades 13
2 queen spades 12
3 jack  spades 11
4 ten   spades 10
5 nine  spades  9
6 eight spades  8

In [6]:
deck[1,1]

[1] king
Levels: ace eight five four jack king nine queen seven six ten three two

In [7]:
new <- deck[1,c(1,2,3)]

new

  face suit   value
1 king spades 13

In [8]:
# 重复值 

deck[c(1,1), c(1,2,3)]

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

    face suit   value
1   king spades 13
1.1 king spades 13

In [9]:
deck

   face  suit     value
1  king  spades   13
2  queen spades   12
3  jack  spades   11
4  ten   spades   10
5  nine  spades    9
6  eight spades    8
7  seven spades    7
8  six   spades    6
9  five  spades    5
10 four  spades    4
11 three spades    3
12 two   spades    2
13 ace   spades    1
14 king  clubs    13
15 queen clubs    12
16 jack  clubs    11
17 ten   clubs    10
18 nine  clubs     9
19 eight clubs     8
20 seven clubs     7
21 six   clubs     6
22 five  clubs     5
23 four  clubs     4
24 three clubs     3
25 two   clubs     2
26 ace   clubs     1
27 king  diamonds 13
28 queen diamonds 12
29 jack  diamonds 11
30 ten   diamonds 10
31 nine  diamonds  9
32 eight diamonds  8
33 seven diamonds  7
34 six   diamonds  6
35 five  diamonds  5
36 four  diamonds  4
37 three diamonds  3
38 two   diamonds  2
39 ace   diamonds  1
40 king  hearts   13
41 queen hearts   12
42 jack  hearts   11
43 ten   hearts   10
44 nine  hearts    9
45 eight hearts    8
46 seven hearts    7
47 six   hearts    6
48 five  hearts    5
49 four  hearts    4
50 three hearts    3
51 two   hearts    2
52 ace   hearts    1

In [10]:
deck[1:2, 1:2]

  face  suit
1 king  spades
2 queen spades

In [11]:
# 如何只 提取一列 R 会返回一个向量

deck[1:2, 1]

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] king  queen
Levels: ace eight five four jack king nine queen seven six ten three two

In [12]:
# 如果仍想 返回一个数据框 可以添加参数 drop = FALSE 

deck[1:2, 1, drop = FALSE]

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  face
1 king
2 queen

In [13]:
### 4.1.2 负整数索引

deck[-(2:52), 1:3]

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  face suit   value
1 king spades 13

In [14]:
deck[1,1:3]

  face suit   value
1 king spades 13

In [15]:
# 一个相同的索引位置 同时使用正整数和负整数 
# R 会报错 
deck[c(-1,1),1]

ERROR: Error in `[.default`(xj, i): only 0's may be mixed with negative subscripts

In [16]:
### 4.1.4 空格索引

deck[1,]

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  face suit   value
1 king spades 13

### 4.1.5 逻辑值索引

In [17]:
deck[1, c(TRUE, TRUE, FALSE)]

  face suit
1 king spades

In [18]:
names(deck)

[1] "face"  "suit"  "value"

### 4.1.6 名称索引

names(deck)

In [19]:
names(deck)

[1] "face"  "suit"  "value"

In [20]:
deck[1, c("face","suit","value")]

  face suit   value
1 king spades 13

In [21]:
deck[, "value"]

 [1] 13 12 11 10  9  8  7  6  5  4  3  2  1 13 12 11 10  9  8  7  6  5  4  3  2
[26]  1 13 12 11 10  9  8  7  6  5  4  3  2  1 13 12 11 10  9  8  7  6  5  4  3
[51]  2  1

## 4.4 $ 符号 双中括号

In [22]:
deck$value

 [1] 13 12 11 10  9  8  7  6  5  4  3  2  1 13 12 11 10  9  8  7  6  5  4  3  2
[26]  1 13 12 11 10  9  8  7  6  5  4  3  2  1 13 12 11 10  9  8  7  6  5  4  3
[51]  2  1

In [23]:
mean(deck$value)

[1] 7

In [24]:
median(deck$value)

[1] 7

In [25]:
lst <- list(numbers=c(1,2), logical = TRUE, strings=c('a','b','c'))

lst

$numbers
[1] 1 2

$logical
[1] TRUE

$strings
[1] "a" "b" "c"

In [26]:
lst[1]

$numbers
[1] 1 2

In [29]:
sum(lst[1])

ERROR: Error in sum(lst[1]): invalid 'type' (list) of argument

In [30]:
sum(lst$numbers)

[1] 3

In [31]:
lst[[1]]

[1] 1 2

In [32]:
lst[["numbers"]]

[1] 1 2

In [33]:
lst["numbers"]

$numbers
[1] 1 2